.layout1 {
    overflow: hidden;
}

.layout2 {
    position: fixed;
    top: 0;
    width: 100vw;
}

.layout3 {
    width: 100%;
    /* max-height: calc(100% - 100px); */
    /* overflow: auto; */
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10em;

}

@media (max-width: 1052px) {
    .layout3 {
        padding-top: 3.9em;
    }
}

@media (max-width: 731px) {
    .layout3 {
        padding-top: .1em;
    }
}