.registerButton {
    background-color: #00000003;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    margin-left: 5px;
    margin-top: 0.75em;
    font-family: var(--font-family2);
}

.registerCase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a8;
}

.formCase {
    font-family: var(--font-family2);
    background-image: radial-gradient(circle at top center, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 10%,rgb(229, 229, 229) 10%, rgb(229, 229, 229) 19%,rgb(222, 222, 222) 19%, rgb(222, 222, 222) 22%,rgb(216, 216, 216) 22%, rgb(216, 216, 216) 24%,rgb(209, 209, 209) 24%, rgb(209, 209, 209) 63%,rgb(203, 203, 203) 63%, rgb(203, 203, 203) 75%,rgb(196, 196, 196) 75%, rgb(196, 196, 196) 100%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 35vw;
    height: 45vh;
    padding: .5em;
}

.registerCase form input {
    font-family: var(--font-family2);
    background-color: #ffffff;
    color: #000000;
    font-size: 0.8rem;
    margin: 3px;
}

.registerCase form input::placeholder {
    color: #000000;
}

.registerCase form input:focus {
    background-color: #e7e7e7;
    outline: 0;
}

.submitbutton {
    background-color: #36b500;
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    font-family: var(--font-family2);
    cursor: pointer;
    font-size: .9rem;
}

.invalidSubmitBtn {
    cursor: not-allowed;
    background-color: #aaaaaa;
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    font-family: var(--font-family2);
    font-size: .9rem;
}

.registerCase p {
    font-size: 0.6rem;
    text-align: center;
    margin-top: 2em;
}

.formFlex div {
    display: flex;
}

.dobcase {
    display: flex;
    flex-direction: column;
}

.formCase h4 {
    font-size: 1.7rem;
    color: #f49431;
    letter-spacing: 5px;
    padding: 0.2em;
}


.loadingspiner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 6.7em;
    text-align: center;
}

.loadingspiner h1 {
    color: #ff0000;
    font-size: 0.7rem;
}

.icon_style {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -1em;
    cursor: pointer;
}

.dobcase button {
    padding: .5em;
    margin-left: .2em;
}





@media (max-width: 730px){

    .registerCase {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: -.92em;
    }
}