.parent {
    background-image: radial-gradient(circle at top center, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 10%,rgb(229, 229, 229) 10%, rgb(229, 229, 229) 19%,rgb(222, 222, 222) 19%, rgb(222, 222, 222) 22%,rgb(216, 216, 216) 22%, rgb(216, 216, 216) 24%,rgb(209, 209, 209) 24%, rgb(209, 209, 209) 63%,rgb(203, 203, 203) 63%, rgb(203, 203, 203) 75%,rgb(196, 196, 196) 75%, rgb(196, 196, 196) 100%);
    padding: .5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-family: var(--font-family2);
}

.viewpassword {
    display: block;
}

.parent div h1 {
    font-size: calc(1vw + 1vh);
}

.parent p {
    font-size: calc(.6vw + .6vh);
    letter-spacing: 1px;
}

.grid-parent {
    background-color: rgba(0, 0, 0, 0.716);
    min-width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin-top: .5em;
}

.grid-parent form {
    padding: .2em;
    min-width: 60%;
    color: #fff;
}

.grid-parent button {
    padding: .5em;
    background-color: rgb(0, 187, 0);
    border: none;
    color: #fff;
    cursor: pointer;
}

.input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    padding-right: 80px;
  }
  
  .input-with-icon .iconify {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

.messageResponse {
    background-color: rgba(128, 255, 0, 0.419);
    position: relative;
    padding: .3em;
    top: -2em;
    width: 60%;
    text-align: center;
    border: solid 1px chartreuse;
    color: #fff;
}