
.header {
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4.1em;
}

.login-forgetpassword-box {
    display: flex;
    flex-direction: column;
}

.forgotpasword {
    align-self: flex-end;
    font-family: var(--font-family2);
    color: #c7c7c7;
    cursor: pointer;
}

/* .forgotpasword {
    color: #c7c7c7;
    
} */

.forgotpasword:hover{
    color: #f46531;
}


/* .header a {
    text-decoration: none;
} */

.loginbtndisplay {
    display: none;
}

.texterrordisplay p {
    width: 50%;
    padding: 4px;
    color: #ffffff;
    font-size: calc(.3rem + .4rem);
    transition: ease-in-out 1s;
}

.texterrordisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ff00003d;
    border: 1px solid #ff0000ab;
    transform: ease-in-out 2s;
}


.headerBgColor {
    background-color: var(--primary-color);
    padding: 1em;
    /* position: sticky;
    top: 0; */
    /* width: 100%;
    top: 0; */
}

.headerText {
    width: 80%;
}


.headerText img {
    display: block;
    width: 18rem;
    margin: 0;
    padding: 0;
}


.typesOfSport {
    width: 100%;
    font-family: var(--font-family);
    letter-spacing: 3px;
    text-align: center;
    margin-top: 1em;
}



.secondheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f49431; 
    height: 4vh;
    font-family: var(--font-family2);
}

.secondheader a {
    display: flex;
    font-size: calc(.8vw + .8vh);
    text-decoration: none;
    padding: 0rem 0.8em 0.21em 0.8em;
    letter-spacing: 1.2px;
    color: #ffffff;
}

.secondheader a:hover {
    border-bottom: #ff4102 solid 3px;
}


.typesOfSport a {
    color: #ffffff;
    padding: .5em 1em 0.4em 1em;
    text-decoration: none;
    font-family: var(--font-family2);
    font-size: calc(.8vw + .8vh);
}

.typesOfSport a:hover {
    background-color: #0000009c;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
}

.sportFocus:focus {
    background-color: #f49431;
    border-radius: 5px 5px 0px 0px;
}

.userlogin form {
    flex-direction: row;
    gap: 4px;
}

.userlogin {
    align-self: center;
    display: flex;
}

.userlogin form input {
    border-radius: 0px;
    padding: 0.6em;
    background-color: #4b4b4ba1;
}

.userlogin form input::placeholder {
    color: #bfbfbf;
    font-family: var(--font-family2);
}

.userlogin form input:focus {
    outline: 0;
    background-color: #8f8f8f;
    color: #ffffff;
}

.loginButton {
    background-color: #2e8b00;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0px;
    border: 0px;
    padding: 0.6em 1em;
    margin-left: -4px;
    align-self: center;
}

.loginButtonInvalid {
    background-color: #555555a1;
    color: #cacaca;
    cursor: pointer;
    border-radius: 0px;
    border: 0px;
    padding: 0.6em 1em;
    margin-left: -4px;
    align-self: center;
    cursor: not-allowed;
}

.usernamestyle {
    color: #ffffff;
    display: flex;
    gap: .5em;
}

.usernamestyle h5 {
    text-transform: uppercase;
    font-size: .7rem;
    border: none;
    padding: .4em;
    background-color: #f49431;
    border-radius: 5px;
}

.usernamestyle button {
    background-color: #f49431;
    color: #ffffff;
    font-size: .7rem;
    padding: .4em;
    border: none;
    border-radius: 5px;
}

.usernamestyle button:hover {
    background-color: #f49331b1;
}

.iconebar {
    font-size: 2.9rem;
    color: #ffffff;
    display: none;
    justify-content: end;
}

.forgot_Password {
    background-color: #00000084;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.forgotpassword_child {
    display: flex;
    flex-direction: column;
    padding: .5em;
    align-self: center;
    color: #fff;
    background-color: #000000e0;
    min-width: 30%;
    min-height: 45vh;
}

.icon_icon {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    font-size: calc(1vw + 1vh);
}

.forgot_input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    padding: .7em;
    text-align: center;
}

.forgot_input p {
    font-family: var(--font-family2);
    font-size: calc(.6vw + .6vh);
    padding: 0em 0em 1.5em 0em;
    letter-spacing: 1px;
}

.forgot_errz-message h5 {
    font-size: calc(.6vw + .6vh);
    font-family: var(--font-family2);
    font-size: calc(.6vw + .6vh);
    padding: .5em;
    margin: .6em;
    background-color: #ff000033;
    border: 1px solid red;
}

.forgot_err-message_success h5 {
    font-size: calc(.6vw + .6vh);
    font-family: var(--font-family2);
    font-size: calc(.6vw + .6vh);
    padding: .5em;
    margin: .6em;
    background-color: #00ff0833;
    border: 1px solid rgb(0, 255, 4);
}


.forgot_input form {
    flex-direction: column;
    font-family: var(--font-family2);
}

.forgot_input form input {
    font-size: calc(1rem);
}

.forgot_input button {
    font-family: var(--font-family2);
    background-color: #2e8b00;
    color: #fff;
    border: none;
    padding: .6em;
    font-size: calc(1rem);
    cursor: pointer;
}




/* @media (max-width: 1052px) {
    .header {
      height: 14vh;
      gap: 0;
      flex-direction: column;
    }

    .headerText {
        margin-top: -.8em;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .headerText img {
        margin: 1em 0.2em;
        width: 5%;
        height: 3vh;
    }

    .secondheader {
      top: 11.3em;
    }
     
    .secondheader a {
        font-size: calc(.9vw + .9vh);
    }


    .userlogin form input {
      padding: .5em;
    }

    .loginButton,
    .loginButtonInvalid {
      padding: .5em .9em;
    }
} */

/* @media (max-width: 1025px) {
    .secondheader {
        top: 9.5em;
    }

    .secondheader a {
        font-size: calc(.8vw + .8vh);
        padding: 0rem 0.80em 0.21em 0.80em;
    }
} */

/* @media (max-width: 821px) {
    .secondheader {
    top: 14.6em;
    }

    .secondheader a {
        font-size: calc(.8vw + .8vh);
        padding: 0rem 0.80em 0.21em 0.80em;
    }

    .typesOfSport a {
        padding: 1em .7em 0.4em .5em;
        font-size: calc(.8vw + .8vh);
    }
} */


/* @media (max-width: 769px) {
    .secondheader {
        top: 13.1em;
        }
} */

@media (max-width: 730px) {

    /* .header {
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
    } */

      /* .headerText {
        margin-top: 0;
        justify-content: start;
    } */

    .secondheader {
        display: none;
    }

    .typsofsportdiv a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f49431;
        text-decoration: none;
        color: #ffffff;
        padding: .5em;
        flex-wrap: wrap;
        left: 0;
    }

    /* .typsofsportdiv {
        position: absolute;
        right: -.7em;
        top: 4.5em;
    } */

    .typesOfSporthidedisplay {
        letter-spacing: 3px;
        left: -.1em;
        position: relative;
        top: 3.5em;
    }

    .typesOfSport {
        background-color: #ff0000;
        letter-spacing: 3px;
        text-align: center;
        display: none;
        justify-content: end;
        left: -.1em;
    }

    .headerText img {
        min-width: 15%;
    }

    .iconebar {
        color: #ffffffe0;
        display: flex;
        padding: 0;
        margin-bottom: -.5em;
        margin-top: .8em;
    }

    .formbreak {
        display: none;
    }

    .formbreakhide {
        background-image: radial-gradient(circle at top center, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 10%,rgb(229, 229, 229) 10%, rgb(229, 229, 229) 19%,rgb(222, 222, 222) 19%, rgb(222, 222, 222) 22%,rgb(216, 216, 216) 22%, rgb(216, 216, 216) 24%,rgb(209, 209, 209) 24%, rgb(209, 209, 209) 63%,rgb(203, 203, 203) 63%, rgb(203, 203, 203) 75%,rgb(196, 196, 196) 75%, rgb(196, 196, 196) 100%);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute; 
        align-items: center;
        left: 0;
        top: 11em;
        padding: 1em;
    }

    .formbreakhide input {
        height: 3.7vh;
        align-self: center;
    }

    .formedite {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .formbreakhide button {
        align-self: center;
        justify-content: center;
    }

    .typsofsportdiv {
        position: absolute;
        top: 1.9em;
        right: -.7em;
    }

    .logincreate_acc {
        font-family: var(--font-family2);
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        bottom: .7em;
    }

    .loginbtndisplay {
        display: block;
        background-color: #00000000;
        padding: .4em;
        color: #ffffff;
        border: 1px solid;
        margin-top: .7em;
        cursor: pointer;
    }

    .forgotpasword {
        display: none;
    }

    .forgotpasswordshow {
        font-family: var(--font-family2);
        color: #ff0000;
        font-weight: bolder;
        cursor: pointer;
        position: absolute;
        top: 11.2em;
        left: 1em;
    }

    /* .iconebar {
        top: 8em;
    } */
}

















@media (max-width: 570px) {

    /* .formbreak {
        display: none;
    } */

    /* .formbreakhide {
        background-color: #dadadace;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute; 
        align-items: center;
        align-self: center;
        left: 0;
        top: 9em;
        padding: 1em;
    } */

    /* .formbreakhide input {
        height: 3.7vh;
        align-self: center;
    }

    .formedite {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .formbreakhide button {
        align-self: center;
        justify-content: center;
    }

    .typsofsportdiv {
        position: absolute;
        top: 1em;
        right: -.7em;
    } */

    /* .logincreate_acc {
        font-family: var(--font-family2);
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        bottom: .7em;
    } */

    /* .loginbtndisplay {
        display: block;
        background-color: #00000000;
        padding: .4em;
        color: #ffffff;
        border: 1px solid;
        margin-top: .7em;
        cursor: pointer;
    } */

    /* .iconebar {
        top: 2.2em;
    } */
}

































/* @media (max-width: 570px) {
    .iconebar {
        top: 1.9em;
    }
    
} */

/* @media (max-width: 431px) {
    .iconebar {
        top: 2.5em;
    }
    .formbreakhide {
        top: 10em;
    }
} */

/* @media (max-width: 420px) {
    .iconebar {
        top: 1.9em;
    }

    .formbreakhide {
        top: 8.4em;
    }
} */

/* @media (max-width: 415px) {
    .iconebar {
        top: 1.88em;
    }

    .formbreakhide {
        top: 8.5em;
    }
} */

/* @media (max-width: 392px) {
    .iconebar {
        top: 2.25em;
    }

    .formbreakhide {
        top: 9.4em;
    }
} */

/* @media (max-width: 380px) {
    .iconebar {
        top: 1.6em;
    }

    .formbreakhide {
        top: 7.9em;
    }
} */

/* @media (max-width: 361px) {
    .iconebar {
        top: 1.88em;
    }

    .formbreakhide {
        top: 8.5em;
    }
} */

/* @media (max-width: 345px) {
    .iconebar {
        top: 2.35em;
    }

    .formbreakhide {
        top: 9.6em;
    }
} */





