
.header {
    height: 9vh;
    display: flex;
    justify-content: center;
    gap: 2.1em;
    flex-wrap: wrap;
}

.header a {
    text-decoration: none;
}

.loginbtndisplay {
    display: none;
}

.texterrordisplay p {
    width: 50%;
    padding: 4px;
    color: #ffffff;
    font-size: calc(.3rem + .4rem);
    transition: ease-in-out 1s;
}

.texterrordisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ff00003d;
    border: 1px solid #ff0000ab;
    transform: ease-in-out 2s;
}


.headerText {
    margin-top: 1em;
    display: flex;
    margin-right: 1em;
    font-size: 1.08rem;
    color: #f49431;
    letter-spacing: 4px;
    font-family: var(--font-family);
}

.headerBgColor {
    background-color: var(--primary-color);
    padding: 1em;
    /* position: sticky;
    top: 0; */
    /* width: 100%;
    top: 0; */
}

.headerText img {
    margin: 1em 0.2em;
    width: 100%;
    height: 3vh;
}

.headerText p {
    margin: 1em 0.1em;
    color: #ffffff;
}

.typesOfSport {
    width: 100%;
    font-family: var(--font-family);
    letter-spacing: 3px;
    text-align: center;
    margin-top: 1em;
}



.secondheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f49431; 
    height: 4vh;
    font-family: var(--font-family2);
    /* position: sticky; */
}

.secondheader a {
    display: flex;
    font-size: calc(.8vw + .8vh);
    text-decoration: none;
    padding: 0rem 0.8em 0.21em 0.8em;
    letter-spacing: 1.2px;
    color: #ffffff;
}

.secondheader a:hover {
    border-bottom: #ff4102 solid 3px;
}


.typesOfSport a {
    color: #ffffff;
    padding: 1em 1em 0.4em 1em;
    text-decoration: none;
    font-family: var(--font-family2);
    font-size: calc(.8vw + .8vh);
}

.typesOfSport a:hover {
    background-color: #0000009c;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
}

.sportFocus:focus {
    background-color: #f49431;
    border-radius: 5px 5px 0px 0px;
}

.userlogin form {
    flex-direction: row;
    gap: 4px;
}

.userlogin {
    align-self: center;
    display: flex;
}

.userlogin form input {
    border-radius: 0px;
    padding: 0.6em;
    background-color: #4b4b4ba1;
}

.userlogin form input::placeholder {
    color: #bfbfbf;
    font-family: var(--font-family2);
}

.userlogin form input:focus {
    outline: 0;
    background-color: #8f8f8f;
    color: #ffffff;
}

.loginButton {
    background-color: #747474a1;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 0px;
    border: 0px;
    padding: 0.6em 1em;
    margin-left: -4px;
    align-self: center;
}

.loginButtonInvalid {
    background-color: #3f3f3fa1;
    color: #9c9c9c;
    cursor: pointer;
    border-radius: 0px;
    border: 0px;
    padding: 0.6em 1em;
    margin-left: -4px;
    align-self: center;
    cursor: not-allowed;
}

.usernamestyle {
    color: #ffffff;
    display: flex;
    gap: .5em;
}

.usernamestyle h5 {
    text-transform: uppercase;
    font-size: .7rem;
    border: none;
    padding: .4em;
    background-color: #f49431;
    border-radius: 5px;
}

.usernamestyle button {
    background-color: #f49431;
    color: #ffffff;
    font-size: .7rem;
    padding: .4em;
    border: none;
    border-radius: 5px;
}

.usernamestyle button:hover {
    background-color: #f49331b1;
}

.iconebar {
    font-size: 2.9rem;
    color: #ffffff;
    display: none;
    align-items: center;
    justify-content: end;
}


@media (max-width: 1052px) {
    .header {
      height: 14vh;
      gap: 0;
      flex-direction: column;
    }

    .headerText {
        margin-top: -.8em;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }

    .headerText img {
        margin: 1em 0.2em;
        width: 5%;
        height: 3vh;
    }

    .secondheader {
      top: 11.3em;
    }
    .secondheader a {
        font-size: calc(.9vw + .9vh);
    }

    .userlogin form input {
      padding: .5em;
    }
    .loginButton,
    .loginButtonInvalid {
      padding: .5em .9em;
    }
}

@media (max-width: 1025px) {
    .secondheader {
        top: 9.5em;
    }

    .secondheader a {
        font-size: calc(.8vw + .8vh);
        padding: 0rem 0.80em 0.21em 0.80em;
    }
}

@media (max-width: 821px) {
    .secondheader {
    top: 14.6em;
    }

    .secondheader a {
        font-size: calc(.8vw + .8vh);
        padding: 0rem 0.80em 0.21em 0.80em;
    }

    .typesOfSport a {
        padding: 1em .7em 0.4em .5em;
        font-size: calc(.8vw + .8vh);
    }
}

@media (max-width: 769px) {
    .secondheader {
        top: 13.1em;
        }
}

@media (max-width: 730px) {

    .header {
        flex-direction: row;
        justify-content: flex-start;
    }

      .headerText {
        margin-top: 0;
        justify-content: start;
    }

    .secondheader {
        display: none;
    }

    .typsofsportdiv a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f49431;
        text-decoration: none;
        color: #ffffff;
        padding: .5em;
        flex-wrap: wrap;
        left: 0;
    }

    .typsofsportdiv {
        position: absolute;
        right: -.7em;
    }

    .typesOfSporthidedisplay {
        background-color: #fbff00;
        letter-spacing: 3px;
        text-align: center;
        display: flex;
        justify-content: end;
        left: -.1em;
        position: relative;
    }

    .typesOfSport {
        background-color: #ff0000;
        letter-spacing: 3px;
        text-align: center;
        display: none;
        justify-content: end;
        left: -.1em;
    }

    .headerText img {
        min-width: 15%;
    }

    .iconebar {
        position: absolute;
        display: flex;
        justify-content: end;
        right: 10px;
        top: 1.73em;
    }
}

@media (max-width: 570px) {

    .formbreak {
        display: none;
    }

    .formbreakhide {
        background-color: #dadadace;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute; 
        align-items: center;
        align-self: center;
        left: 0;
        top: 9em;
        padding: 1em;
    }

    .formbreakhide input {
        height: 3.7vh;
        align-self: center;
    }

    .formedite {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .formbreakhide button {
        align-self: center;
        justify-content: center;
    }

    .typsofsportdiv {
        position: absolute;
        top: 1em;
        right: -.7em;
    }

    .logincreate_acc {
        font-family: var(--font-family2);
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        bottom: .7em;
    }

    .loginbtndisplay {
        display: block;
        background-color: #00000000;
        padding: .4em;
        color: #ffffff;
        border: 1px solid;
        margin-top: .7em;
        cursor: pointer;
    }

    .iconebar {
        top: 2.2em;
    }
}

@media (max-width: 431px) {
    .iconebar {
        top: 2.5em;
    }
    .formbreakhide {
        top: 10em;
    }
}

@media (max-width: 420px) {
    .iconebar {
        top: 1.9em;
    }

    .formbreakhide {
        top: 8.4em;
    }
}

@media (max-width: 415px) {
    .iconebar {
        top: 1.9em;
    }

    .formbreakhide {
        top: 8.5em;
    }
}

@media (max-width: 392px) {
    .iconebar {
        top: 2.25em;
    }

    .formbreakhide {
        top: 9.4em;
    }
}

@media (max-width: 380px) {
    .iconebar {
        top: 1.6em;
    }

    .formbreakhide {
        top: 7.9em;
    }
}

@media (max-width: 361px) {
    .iconebar {
        top: 1.99em;
    }

    .formbreakhide {
        top: 8.5em;
    }
}

@media (max-width: 345px) {
    .iconebar {
        top: 2.35em;
    }

    .formbreakhide {
        top: 9.6em;
    }
}





