.highltbox {
    display: inline-block;
    background-color: #000000f0;
    padding: 1em;
    min-width: 60.5%;
    min-height: 70vh;
    color: #ffffff;
    /* margin-top: .3em; */
    margin: .3em;
}

.highltbox span {
    font-family: var(--font-family2);
    font-size: calc(1.4vw + 1.4vh);
}

/* .thirdnavbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.thirdnavbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.3em;
    font-family: var(--font-family2);
}

.bettingwidth {
    width: 31%;
}

.thirdnavbar ul li {
    padding: 0.7em 0.8em 0.6em 0.8em;
    cursor: pointer;
    font-size: calc(.5vw + .5vh);
}

.thirdnavbar ul li:hover {
    border-bottom: #c16767 solid 2px;
}

.footbutton {
    border: none;
    background-color: #b9b9b9;
    padding: 1em;
}

.textDropdown {
    background-color: antiquewhite;
    margin-top: 1em;
}

.textDropdown p {
    padding: 1em 2em;
}

.textDropdown p:hover {
    background-color: aquamarine;
}

.betlin {
    width: 100%;
}

.hightcasing {
    /* display: grid;
    grid-template-columns: 43% 19%;
    justify-content: center;
    margin: 0; */

    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.highlitecasfixer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.selestoption {
    background-color: #000000f0;
    color: #ffffff;
    border: none;
    font-family: var(--font-family2);

}

.selestoption option {
    font-size: calc(.6vw + .6vh);
}

.colorlivebetting {
    background-color: #1eff00;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    margin-top: 0.2em;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(16, 185, 129, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
    }
}




.liveactive {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
}


@media (max-width: 730px){
    .highlitecasfixer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bettingwidth {
        width: 90vw;
        border-radius: 5px;
    }

    .highltbox {
        min-width: 90vw;
        margin: .3em;
    }

    .thirdnavbar {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}