
.pupolarcheck {
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: radial-gradient(circle at top right, rgb(3, 32, 78) 0%, rgb(253, 152, 2) 1%,rgb(72, 72, 72) 1%, rgba(148, 89, 0, 0.69) 10%,rgb(65, 65, 65) 10%, rgba(90, 54, 0, 0.667) 22%,rgb(59, 59, 59) 22%, rgba(174, 174, 174, 0.59) 23%,rgb(53, 53, 53) 23%, rgb(53, 53, 53) 28%,rgb(109, 100, 86) 28%, rgb(46, 46, 46) 37%,rgb(40, 40, 40) 37%, #005247 100%);
    padding: 0.5em;
    flex-wrap: wrap;
}

.populartext {
    padding: 0em 1em 0em 0em;
}

.populartext h2 {
    font-family: var(--font-family2);
    padding: 0em 0em 0.5em 0em;
}

.todaysFotbalList li {
    list-style: none;
    font-family: var(--font-family2);
    border-top:  #e1e1e1ae solid 1px;
    padding: 0.5em 0.5em 0.5em 0em;
    cursor: pointer;
    font-weight: lighter;
}

.todaysFotbalList li:hover {
    background-color: #0000006f;
    transition: 500ms;
}

.populatext2 {
    padding: 1.3em 0.5em 1.8em 0.5em;
    align-self: center;
    background-color: #00a2162c;
    outline: #00a216 solid 1px;
    border-radius: 5px;
    margin-left: 0.5em;
}

.populatext2 h3 {
    font-size: 1rem;
    font-family: var(--font-family2);
}

.populatext2 p {
    font-size: 0.8rem;
    color: #00ff22;
    font-weight: bolder;
    font-family: var(--font-family2);
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    margin: 0.7em 0em 0.7em 0em;
    padding: 0.8em 0.8em 0.8em 0.5em;
    border-radius: 5px;
    border: 0;
}

.populatext2 button {
    padding: 0.6em 0.8em 0.6em 0.5em;
    border-radius: 5px;
    border: 0;
    font-family: var(--font-family2);
    font-size: 1rem;
    font-weight: bold;
    background-color: #00a216;
    color: #fff;
    cursor: pointer;
}

.sportywraper {
    display: flex;
    flex-direction: column;
}

.sportyphoto img {
    margin-top: 0.5em;
    width: 63%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pupolarstructure {
    background-color: #c6c6c662;
    margin-top: 8.5em;
}


.sportpics img {
    width: 100%;
}

