.backcolortest {
    margin-right: auto;
    margin-left: auto;
    /* width: 70%; */
    min-width: 90%;
    max-width: 70%;
    min-height: 35vh;
}

.leaguesdesign {
    outline: solid 1px #323232;
    font-size: calc(.8vw + .8vh);
    font-family: var(--font-family2);
}

.teamstyling {
    text-align: left;
    color: #e1e1e1;
}

.teamstyling tr td {
    padding: .5em;
    
}

.odd_style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: .5em;
}

.odd_style td {
    padding: .5em;
    background-color: rgb(11, 73, 0);
    margin: .05em;
    margin-top: .5em;
    cursor: pointer;
}

.odd_style td:hover {
    background-color: rgb(19, 129, 0);
}

.odd_style td.clicked {
    background-color: rgb(19, 129, 0);
}

.odd_style td:nth-child(1) {
    border-radius: 3px 0px 0px 3px;
}

.odd_style td:nth-child(3) {
    border-radius: 0px 3px 3px 0px;
}

.typesOfLeague {
    display: grid;
    grid-template-columns: .4fr .4fr .4fr .4fr;
    justify-content: center;
    padding: .4em 3em;
    margin: .5em;
}

.typesOfLeague button:focus {
    background-color: rgb(255, 0, 0);
}

.typesOfLeague button:hover {
    border: solid 1.6px #007b25;
}

.typesOfLeague button:active {
    background-color: rgba(32, 105, 0, 0.682);
    border: none;
}

.typesOfLeague button {
    background-color: #1d1d1dc6;
    color: #fff;
    text-align: center;
    margin: .5em;
    cursor: pointer;
    padding: .6em;
    border: solid .1px #7171712e;
    font-size: calc(.9vw + .9vh);
    font-family: var(--font-family2);
    border-radius: 1px;
}

.loading_styling {
    background-color: rgba(66, 66, 66, 0.497);
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.leSnake { animation: leSnake 700ms ease-in-out; animation-iteration-count: infinite }
@keyframes leSnake {
    from, to { transform: translateY(0px) }
    50% { transform: translateY(5px) }
}

.no_mtach {
    display: flex;
    justify-content: center;
    min-height: 43vh;
    align-items: center;
    font-family: var(--font-family2);
    text-align: center;
}